<div class="content">
  <ol id="menu"></ol>

  <div id="pages" style="text-align: center;">
    <input type="button" id="first" onclick="firstPage()" value="<<" />
    <input type="button" id="previous" onclick="previousPage()" value="<" />
    <input type="button" id="next" onclick="nextPage()" value=">" />
    <input type="button" id="last" onclick="lastPage()" value=">>" />
  </div>
</div>
