<div class="sidenav">
  <div class="dropdown">
    <button onclick="dropdown()" class="dropbtn">Options</button>
    <div id="myDropdown" class="dropdown-content">
      <div class="dropdown2">
        <button onclick="myFunction()" class="btn-small dropbtn2">
          Dropdown <i class="fa fa-caret-down"></i>
        </button>
        <div id="myDrop" class="dropdown2-content">
          <a href="javascript:quantity('A');">A</a>
          <a href="javascript:quantity('B');">B</a>
        </div>
      </div>
    </div>
  </div>

  <p id="info" for="quantity">Type a number:</p>
  <input id="quantity" type="text" />
  <p id="demo"></p>
</div>
